<h1>Thank you for contacting us</h1>
<p>
	Dear <%= @name %>
</p>
<p>	Thank you for contacting us. We will get back to you as soon as we can. Meanwhile, enjoy our free recipe at this link:  </p>

<p> This is your free recipe: </p>
<hr/>
<p> Your message to us was: <%= @message %> </p>