
    <h1>Welcome to monte-defesa.com, <%= @name %></h1>
    <p>
      You have successfully signed up to monte-defesa.com,
      your username is: <%= @username %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>

