<!-- <h1>Payments#create</h1>
<p>Find me in app/views/payments/create.html.erb</p> -->


<div class="container yield-pages">
<h1> Order Succesful </h1>
<p></p> 
<p> Your order of <%= @product.name %> is already on the way.</p>
<p> Please let us know if you need any further assistance</p>
<p class="text-center"> <%= image_tag(@product.image_url,  width: 200, height: 120, class: 'product_image' ) %></p>

</div>
