

$primary-color: #6F1A37;

.containerdevise {
	background-color: $primary-color;
	width: 45%;
	margin-top: 100px;
	border-radius: 8px;
}

.containerdevise h2 {
	color: white;
}

.white-links:link {
	color: white;
}

.white-links:hover {
	color: white;
}

.white-links:active {
	color: white;
}

.remember_me {
	color: white;
}

#confirm_pass {
	margin-bottom: 1px;
}

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
    margin-top: 55px;
    position: absolute;
    z-index: 99;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
    margin-top: 55px;
    position: absolute;
    z-index: 99;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
    margin-top: 55px;
    position: absolute;
    z-index: 99;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
    margin-top: 55px;
    position: absolute;
    z-index: 99;
 }