.containerbody {
	margin-top: 39px;
}

.container-top {
	height: 400px;
	position: absolute;
	width: 100%;
}

.productgrid {
	width: 300px;
	height: 300px;
	float: right;
}

.top-page {
	margin-top: 100px;
}

.white-space {
	position: relative;
	margin-top: 40px;
	margin-bottom: 3em;
}

#landingbanner p {
	color: black;
	font-size: 3em;
}

#family-image {
	float: right;
}

#landing-image {
	top: 0;
}
 .landing-slider {
 	margin-top: -139px;
 	z-index: -1;
 }

#landing-image img {
	width: 100%;
}

.yield-pages {
	margin-top: 100px;
	margin-bottom: 100px;
}

/* container-story */
.container-story {
	width: 100%;
	background-color: #4B4C44;
}

#product-images {
	margin-top: 60px;
	margin-bottom: 60px;
}



/* /container-story */

