$primary-color: #97ac9e;

.nav {
	float: left!important;
}

.navbar-inverse {
	background-color: transparent;
	border-color: transparent;
	background-image: none;
}

.navbar .nav > li > a {
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color:  #97ac9e;
    font-weight: 900;
}

.navbar .nav > li > a:hover {
    color:  black;
}

.defesa-icon {
	width: 210px;
	margin: auto;
	padding-top: 10px;
	margin-left: 2em;
}

#search-box {
	margin-top: -20px;
	margin-right: 12px;
	float:right;
}

.search-button {
	width: 3em;
	margin-right: 10px;
	background-color: $primary-color;
	color: white;
}

.top_container {
	width: 100%;
	margin-top: 0px;
	height: 100px;
	background-color: transparent;
}

#navbar_header {
  position: absolute;
  top: 65px;
}

#top_buttons {
	width: 170px;
  margin-right: 190px;
  float: right;
  margin-top: -41px;
}

#top_buttons li {
	list-style-type: none;
}

#top_buttons li a {
  color: $primary-color;
  font-weight: 900;
}

#top_buttons li a:hover {
	background-color: $primary-color;
	color: white;
	text-decoration: none;
	border-radius: 5px;
}

.hello {
	position: absolute;
	font-size: 1.2em;
}

#sign_button {
	font-size: 1.2em;
	position: relative;
	float: right;
	margin-left: 10px;
}

.fixed {
  position:fixed;
  top:0;
  width: 100%;
  margin-top: -65px;
  z-index: 1;
	background-color: $primary-color;
	border-color: $primary-color;
}

.fixed-text {
  background-color: $primary-color;
	border-color: $primary-color;	
	color: white;
	z-index: 1;
}

.fixedtext {
  color: white !important;
	z-index: 1;	
}

.fixedlogo {
	padding-left: 2em;
	padding-top: 0.5em;
}

#entry-text {
	color: black;
	font-weight: 900;
	font-size: 3em;
}

#fixed-menu-logo {
	background-color: red;
}

#startnav {
	margin-top: 3em;
}

