// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$primary-color: #6F1A37;

.thumbnail {
	border: 1px £primary-color;
}

.caption {
	background-color: $primary-color;
}

#white p {
	color: white;
}

#new-product {
	margin-left: 20px;
}


.thumbnail img {
  height: 120px;
}

#new-product-button {
	display: table;
  margin: 0 auto;
  background-color: red;
}

#new-product-button a {
	color: white;
	text-size: 2em;
	text-decoration: none;
}

.field {
	display: table;
	margin: 0 auto;
	font-size: 1.3em;
}

.form_button {
	display: table;
	margin: 0 auto;
	font-size: 1.3em;
	background-color: $primary-color;
	color: white;
}

#new-product-title {
	display: table;
	margin: 0 auto;
}

