
<div class="container">
  <div class="row">

    <!--<%= render @products %> -->
    <%= render partial: "product", collection: @products %>

  </div>
</div>


<button id="new-product-button"><%= link_to 'New Product', new_product_path %></button>
