

<div class="container container-footer">
  <div class="row row-footer center">
    <div class="col-md-6 col-xs-12">
    <div class="footerdiv">
      <p id="footer-title">COMPANY</p>
    <ul id="morada">
      <li> Herdade da Defesa de Cima</li> 
      <li>Torre dos Coelheiros</li>
    </ul>
  </div>
    </div>
    <div class="col-md-6 col-xs-12">
    <div class="footerdiv">
      <p id="footer-title">OUR SERVICES</p>
      <ul id="services">
      <li>Agritourism</li>
      <li>Angus Beef Sale</li>
      <li>Horse Riding</li>
    </ul>
  </div>
    </div>

  </div>
  <div class="row row-copyright">
    <div id="bottom-logo">
    <img src="/images/defesa-logo.png" alt="Defesa Logotipo">
  </div>
  <br>
   <footer class="text-center" id="footer"> &copy; Herdade da Defesa de Cima 2015 - All rights reserved </footer>
  </div>
</div>

